{
    "swagger": "2.0",
    "info": {
        "title": "PartSearch Api",
        "description": "Search for products and retrieve details and pricing.",
        "termsOfService": "https:\/\/www.digikey.com\/en\/terms-and-conditions",
        "contact": {
            "name": "API Support",
            "url": "https:\/\/developer.digikey.com\/support"
        },
        "version": "Ps2"
    },
    "host": "api.digikey.com",
    "x-host-sandbox": "sandbox-api.digikey.com",
    "x-host-production": "api.digikey.com",
    "basePath": "\/Search\/v3",
    "schemes": [
        "https"
    ],
    "paths": {
        "\/Products\/Keyword": {
            "post": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "KeywordSearch can search for any product in the Digi-Key catalog.",
                "operationId": "KeywordSearch",
                "consumes": [
                    "application\/json"
                ],
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includes",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/KeywordSearchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/KeywordSearchResponse"
                        },
                        "examples": {
                            "application\/json": {
                                "LimitedTaxonomy": {
                                    "Children": [
                                        {
                                            "Children": [
                                                {
                                                    "Children": [],
                                                    "ProductCount": 1,
                                                    "NewProductCount": 0,
                                                    "ParameterId": -8,
                                                    "ValueId": "58",
                                                    "Parameter": "Categories",
                                                    "Value": "Aluminum Capacitors"
                                                }
                                            ],
                                            "ProductCount": 1,
                                            "NewProductCount": 0,
                                            "ParameterId": -8,
                                            "ValueId": "3",
                                            "Parameter": "Categories",
                                            "Value": "Capacitors"
                                        }
                                    ],
                                    "ProductCount": 1,
                                    "NewProductCount": 0,
                                    "ParameterId": -8,
                                    "ValueId": "0",
                                    "Parameter": "Categories",
                                    "Value": "Out of Bounds"
                                },
                                "FilterOptions": [
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "10",
                                                "Value": "Panasonic Electronic Components"
                                            }
                                        ],
                                        "ParameterId": -1,
                                        "Parameter": "Manufacturer"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "3",
                                                "Value": "Bulk"
                                            }
                                        ],
                                        "ParameterId": 7,
                                        "Parameter": "Packaging"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "189",
                                                "Value": "NHG"
                                            }
                                        ],
                                        "ParameterId": -5,
                                        "Parameter": "Series"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "0",
                                                "Value": "Active"
                                            }
                                        ],
                                        "ParameterId": 1989,
                                        "Parameter": "Part Status"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "65",
                                                "Value": "1000µF"
                                            }
                                        ],
                                        "ParameterId": 13,
                                        "Parameter": "Capacitance"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "5",
                                                "Value": "±20%"
                                            }
                                        ],
                                        "ParameterId": 3,
                                        "Parameter": "Tolerance"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "371",
                                                "Value": "35V"
                                            }
                                        ],
                                        "ParameterId": 63,
                                        "Parameter": "Voltage Rating"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "233",
                                                "Value": "-"
                                            }
                                        ],
                                        "ParameterId": 724,
                                        "Parameter": "ESR (Equivalent Series Resistance)"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "7",
                                                "Value": "2000 Hrs @ 105°C"
                                            }
                                        ],
                                        "ParameterId": 725,
                                        "Parameter": "Lifetime @ Temp."
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "42",
                                                "Value": "-55°C ~ 105°C"
                                            }
                                        ],
                                        "ParameterId": 252,
                                        "Parameter": "Operating Temperature"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "14",
                                                "Value": "Polar"
                                            }
                                        ],
                                        "ParameterId": 52,
                                        "Parameter": "Polarization"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "19",
                                                "Value": "General Purpose"
                                            }
                                        ],
                                        "ParameterId": 405,
                                        "Parameter": "Applications"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "3670",
                                                "Value": "810mA @ 120Hz"
                                            }
                                        ],
                                        "ParameterId": 1317,
                                        "Parameter": "Ripple Current"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "89",
                                                "Value": "-"
                                            }
                                        ],
                                        "ParameterId": 60,
                                        "Parameter": "Impedance"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "4",
                                                "Value": "0.197\" (5.00mm)"
                                            }
                                        ],
                                        "ParameterId": 508,
                                        "Parameter": "Lead Spacing"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "13984",
                                                "Value": "0.492\" Dia (12.50mm)"
                                            }
                                        ],
                                        "ParameterId": 46,
                                        "Parameter": "Size \/ Dimension"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "273",
                                                "Value": "0.866\" (22.00mm)"
                                            }
                                        ],
                                        "ParameterId": 1500,
                                        "Parameter": "Height - Seated (Max)"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "4",
                                                "Value": "-"
                                            }
                                        ],
                                        "ParameterId": 884,
                                        "Parameter": "Surface Mount Land Size"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "80",
                                                "Value": "Through Hole"
                                            }
                                        ],
                                        "ParameterId": 69,
                                        "Parameter": "Mounting Type"
                                    },
                                    {
                                        "Values": [
                                            {
                                                "ValueId": "11811",
                                                "Value": "Radial, Can"
                                            }
                                        ],
                                        "ParameterId": 16,
                                        "Parameter": "Package \/ Case"
                                    }
                                ],
                                "Products": [
                                    {
                                        "StandardPricing": [
                                            {
                                                "BreakQuantity": 1,
                                                "UnitPrice": 0.78000000000000003,
                                                "TotalPrice": 0.78000000000000003
                                            },
                                            {
                                                "BreakQuantity": 10,
                                                "UnitPrice": 0.59299999999999997,
                                                "TotalPrice": 5.9299999999999997
                                            },
                                            {
                                                "BreakQuantity": 25,
                                                "UnitPrice": 0.52480000000000004,
                                                "TotalPrice": 13.119999999999999
                                            },
                                            {
                                                "BreakQuantity": 50,
                                                "UnitPrice": 0.49280000000000002,
                                                "TotalPrice": 24.640000000000001
                                            },
                                            {
                                                "BreakQuantity": 100,
                                                "UnitPrice": 0.42430000000000001,
                                                "TotalPrice": 42.43
                                            },
                                            {
                                                "BreakQuantity": 250,
                                                "UnitPrice": 0.38324000000000003,
                                                "TotalPrice": 95.810000000000002
                                            },
                                            {
                                                "BreakQuantity": 500,
                                                "UnitPrice": 0.32850000000000001,
                                                "TotalPrice": 164.25
                                            },
                                            {
                                                "BreakQuantity": 1000,
                                                "UnitPrice": 0.28288000000000002,
                                                "TotalPrice": 282.88
                                            },
                                            {
                                                "BreakQuantity": 5000,
                                                "UnitPrice": 0.25094,
                                                "TotalPrice": 1254.7
                                            }
                                        ],
                                        "RoHSStatus": "RoHS Compliant",
                                        "LeadStatus": "Lead Free",
                                        "Parameters": [
                                            {
                                                "ParameterId": 7,
                                                "ValueId": "3",
                                                "Parameter": "Packaging",
                                                "Value": "Bulk"
                                            },
                                            {
                                                "ParameterId": 1989,
                                                "ValueId": "0",
                                                "Parameter": "Part Status",
                                                "Value": "Active"
                                            },
                                            {
                                                "ParameterId": 13,
                                                "ValueId": "65",
                                                "Parameter": "Capacitance",
                                                "Value": "1000µF"
                                            },
                                            {
                                                "ParameterId": 3,
                                                "ValueId": "5",
                                                "Parameter": "Tolerance",
                                                "Value": "±20%"
                                            },
                                            {
                                                "ParameterId": 63,
                                                "ValueId": "371",
                                                "Parameter": "Voltage Rating",
                                                "Value": "35V"
                                            },
                                            {
                                                "ParameterId": 724,
                                                "ValueId": "233",
                                                "Parameter": "ESR (Equivalent Series Resistance)",
                                                "Value": "-"
                                            },
                                            {
                                                "ParameterId": 725,
                                                "ValueId": "7",
                                                "Parameter": "Lifetime @ Temp.",
                                                "Value": "2000 Hrs @ 105°C"
                                            },
                                            {
                                                "ParameterId": 252,
                                                "ValueId": "42",
                                                "Parameter": "Operating Temperature",
                                                "Value": "-55°C ~ 105°C"
                                            },
                                            {
                                                "ParameterId": 52,
                                                "ValueId": "14",
                                                "Parameter": "Polarization",
                                                "Value": "Polar"
                                            },
                                            {
                                                "ParameterId": 405,
                                                "ValueId": "19",
                                                "Parameter": "Applications",
                                                "Value": "General Purpose"
                                            },
                                            {
                                                "ParameterId": 1317,
                                                "ValueId": "3670",
                                                "Parameter": "Ripple Current",
                                                "Value": "810mA @ 120Hz"
                                            },
                                            {
                                                "ParameterId": 60,
                                                "ValueId": "89",
                                                "Parameter": "Impedance",
                                                "Value": "-"
                                            },
                                            {
                                                "ParameterId": 508,
                                                "ValueId": "4",
                                                "Parameter": "Lead Spacing",
                                                "Value": "0.197\" (5.00mm)"
                                            },
                                            {
                                                "ParameterId": 46,
                                                "ValueId": "13984",
                                                "Parameter": "Size \/ Dimension",
                                                "Value": "0.492\" Dia (12.50mm)"
                                            },
                                            {
                                                "ParameterId": 1500,
                                                "ValueId": "273",
                                                "Parameter": "Height - Seated (Max)",
                                                "Value": "0.866\" (22.00mm)"
                                            },
                                            {
                                                "ParameterId": 884,
                                                "ValueId": "4",
                                                "Parameter": "Surface Mount Land Size",
                                                "Value": "-"
                                            },
                                            {
                                                "ParameterId": 69,
                                                "ValueId": "80",
                                                "Parameter": "Mounting Type",
                                                "Value": "Through Hole"
                                            },
                                            {
                                                "ParameterId": 16,
                                                "ValueId": "11811",
                                                "Parameter": "Package \/ Case",
                                                "Value": "Radial, Can"
                                            }
                                        ],
                                        "ProductUrl": "\/product-detail\/en\/panasonic-electronic-components\/ECA-1VHG102\/P5555-ND\/245154",
                                        "PrimaryDatasheet": "https:\/\/industrial.panasonic.com\/cdbs\/www-data\/pdf\/RDF0000\/ABA0000C1215.pdf",
                                        "PrimaryPhoto": "http:\/\/media.digikey.com\/Photos\/Panasonic%20Photos\/NHG12-SERIES.jpg",
                                        "PrimaryVideo": "",
                                        "Series": {
                                            "ParameterId": -5,
                                            "ValueId": "189",
                                            "Parameter": "Series",
                                            "Value": "NHG"
                                        },
                                        "ManufacturerLeadWeeks": "14 weeks",
                                        "ManufacturerPageUrl": "https:\/\/www.digikey.com\/en\/supplier-centers\/p\/panasonic",
                                        "ProductStatus": "Active",
                                        "AlternatePackaging": [],
                                        "DetailedDescription": null,
                                        "ReachStatus": null,
                                        "ExportControlClassNumber": null,
                                        "HTSUSCode": null,
                                        "TariffDescription": null,
                                        "MoistureSensitivityLevel": "",
                                        "Family": null,
                                        "Category": null,
                                        "ManufacturerPartNumber": "ECA-1VHG102",
                                        "MinimumOrderQuantity": 1,
                                        "NonStock": false,
                                        "Packaging": {
                                            "ParameterId": 7,
                                            "ValueId": "3",
                                            "Parameter": "Packaging",
                                            "Value": "Bulk"
                                        },
                                        "QuantityAvailable": 8888,
                                        "DigiKeyPartNumber": "P5555-ND",
                                        "ProductDescription": "CAP ALUM 1000UF 20% 35V RADIAL",
                                        "UnitPrice": 78000,
                                        "Manufacturer": {
                                            "ParameterId": 0,
                                            "ValueId": "10",
                                            "Parameter": "",
                                            "Value": "Panasonic Electronic Components"
                                        },
                                        "ManufacturerPublicQuantity": 0,
                                        "QuantityOnOrder": 0,
                                        "MaxQuantityForDistribution": 0,
                                        "BackOrderNotAllowed": false,
                                        "DKPlusRestriction": false,
                                        "Marketplace": false,
                                        "SupplierDirectShip": false,
                                        "PimProductName": null,
                                        "Supplier": null,
                                        "SupplierId": 0,
                                        "IsNcnr": false
                                    }
                                ],
                                "ProductsCount": 1,
                                "ExactManufacturerProductsCount": 0,
                                "ExactManufacturerProducts": [],
                                "ExactDigiKeyProduct": null,
                                "SearchLocaleUsed": {
                                    "Site": "US",
                                    "Language": "en",
                                    "Currency": "USD",
                                    "ShipToCountry": ""
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Client Error",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Products\/{digiKeyPartNumber}": {
            "get": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Retrieve detailed product information including real time pricing and availability.",
                "description": "Works best with a Digi-Key part number. Some manufacturer part numbers conflict with unrelated parts and may not\r\nreturn the correct product.\r\nLocale information is required in the headers for accurate pricing and currencies. Locale defaults to United\r\nStates.",
                "operationId": "ProductDetails",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "digiKeyPartNumber",
                        "description": "The product to retrieve details for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includes",
                        "description": "Comma separated list of fields to return. Used to customize response to reduce bandwidth by\r\nselecting fields that you wish to receive. For example: \"DigiKeyPartNumber,QuantityAvailable,AssociatedProducts[2]\"",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/ProductDetails"
                        },
                        "examples": {
                            "application\/json": {
                                "MyPricing": [],
                                "Obsolete": false,
                                "MediaLinks": [
                                    {
                                        "MediaType": "Datasheets                                                                                                                     ",
                                        "Title": "NHG Series, Type A",
                                        "SmallPhoto": "",
                                        "Thumbnail": "",
                                        "Url": "https:\/\/industrial.panasonic.com\/cdbs\/www-data\/pdf\/RDF0000\/ABA0000C1215.pdf"
                                    },
                                    {
                                        "MediaType": "Product Photos                                                                                                                 ",
                                        "Title": "NHG12-SERIES",
                                        "SmallPhoto": "http:\/\/media.digikey.com\/Photos\/Panasonic%20Photos\/NHG12-SERIES_sml.jpg",
                                        "Thumbnail": "http:\/\/media.digikey.com\/Photos\/Panasonic%20Photos\/NHG12-SERIES_tmb.jpg",
                                        "Url": "http:\/\/media.digikey.com\/Photos\/Panasonic%20Photos\/NHG12-SERIES.jpg"
                                    },
                                    {
                                        "MediaType": "Product Training Modules                                                                                                       ",
                                        "Title": "LED Lighting Components",
                                        "SmallPhoto": "",
                                        "Thumbnail": "",
                                        "Url": "https:\/\/www.digikey.com\/en\/ptm\/p\/panasonic-electronic-components\/led-lighting-components"
                                    },
                                    {
                                        "MediaType": "Catalog Drawings                                                                                                               ",
                                        "Title": "NHG Series_12.5 x 5.0",
                                        "SmallPhoto": "",
                                        "Thumbnail": "",
                                        "Url": "http:\/\/media.digikey.com\/pdf\/Catalog%20Drawings\/Capacitors\/NHG%20Series_12.5%20x%205.0.jpg"
                                    },
                                    {
                                        "MediaType": "Catalog Drawings                                                                                                               ",
                                        "Title": "NHGseries_25.0 x 0.6 (2)",
                                        "SmallPhoto": "",
                                        "Thumbnail": "",
                                        "Url": "http:\/\/media.digikey.com\/pdf\/Catalog%20Drawings\/Capacitors\/NHGseries_25.0%20x%200.6%20(2).jpg"
                                    },
                                    {
                                        "MediaType": "Manufacturer Product Page",
                                        "Title": "ECA-1VHG102 View All Specifications",
                                        "SmallPhoto": "",
                                        "Thumbnail": "",
                                        "Url": "http:\/\/industrial.panasonic.com\/www-cgi\/jvcr13pz.cgi?E+PZ+3+ABA0026+ECA1VHG102+7+WW"
                                    }
                                ],
                                "StandardPackage": 201,
                                "LimitedTaxonomy": {
                                    "Children": [
                                        {
                                            "Children": [
                                                {
                                                    "Children": [],
                                                    "ProductCount": 1,
                                                    "NewProductCount": 0,
                                                    "ParameterId": -8,
                                                    "ValueId": "58",
                                                    "Parameter": "Categories",
                                                    "Value": "Aluminum Electrolytic Capacitors"
                                                }
                                            ],
                                            "ProductCount": 1,
                                            "NewProductCount": 0,
                                            "ParameterId": -8,
                                            "ValueId": "3",
                                            "Parameter": "Categories",
                                            "Value": "Capacitors"
                                        }
                                    ],
                                    "ProductCount": 1,
                                    "NewProductCount": 0,
                                    "ParameterId": -8,
                                    "ValueId": "0",
                                    "Parameter": "Categories",
                                    "Value": "Out of Bounds"
                                },
                                "Kits": [],
                                "KitContents": [],
                                "MatingProducts": [],
                                "SearchLocaleUsed": {
                                    "Site": "US",
                                    "Language": "en",
                                    "Currency": "USD",
                                    "ShipToCountry": "US"
                                },
                                "AssociatedProducts": [],
                                "ForUseWithProducts": [],
                                "RohsSubs": [],
                                "SuggestedSubs": [],
                                "AdditionalValueFee": 0,
                                "ReachEffectiveDate": "",
                                "ShippingInfo": "",
                                "StandardPricing": [
                                    {
                                        "BreakQuantity": 1,
                                        "UnitPrice": 0.85999999999999999,
                                        "TotalPrice": 0.85999999999999999
                                    },
                                    {
                                        "BreakQuantity": 10,
                                        "UnitPrice": 0.65000000000000002,
                                        "TotalPrice": 6.5
                                    },
                                    {
                                        "BreakQuantity": 100,
                                        "UnitPrice": 0.46500000000000002,
                                        "TotalPrice": 46.5
                                    },
                                    {
                                        "BreakQuantity": 500,
                                        "UnitPrice": 0.35999999999999999,
                                        "TotalPrice": 180
                                    },
                                    {
                                        "BreakQuantity": 1000,
                                        "UnitPrice": 0.31,
                                        "TotalPrice": 310
                                    },
                                    {
                                        "BreakQuantity": 2500,
                                        "UnitPrice": 0.28999999999999998,
                                        "TotalPrice": 725
                                    },
                                    {
                                        "BreakQuantity": 5000,
                                        "UnitPrice": 0.27500000000000002,
                                        "TotalPrice": 1375
                                    }
                                ],
                                "RoHSStatus": "RoHS Compliant",
                                "LeadStatus": "Lead Free",
                                "Parameters": [
                                    {
                                        "ParameterId": 7,
                                        "ValueId": "3",
                                        "Parameter": "Packaging",
                                        "Value": "Bulk"
                                    },
                                    {
                                        "ParameterId": 1989,
                                        "ValueId": "0",
                                        "Parameter": "Part Status",
                                        "Value": "Active"
                                    },
                                    {
                                        "ParameterId": 2049,
                                        "ValueId": "u1000µF",
                                        "Parameter": "Capacitance",
                                        "Value": "1000µF"
                                    },
                                    {
                                        "ParameterId": 3,
                                        "ValueId": "1900",
                                        "Parameter": "Tolerance",
                                        "Value": "±20%"
                                    },
                                    {
                                        "ParameterId": 2079,
                                        "ValueId": "u35V",
                                        "Parameter": "Voltage - Rated",
                                        "Value": "35V"
                                    },
                                    {
                                        "ParameterId": 724,
                                        "ValueId": "1",
                                        "Parameter": "ESR (Equivalent Series Resistance)",
                                        "Value": "-"
                                    },
                                    {
                                        "ParameterId": 725,
                                        "ValueId": "140003",
                                        "Parameter": "Lifetime @ Temp.",
                                        "Value": "2000 Hrs @ 105°C"
                                    },
                                    {
                                        "ParameterId": 252,
                                        "ValueId": "242904",
                                        "Parameter": "Operating Temperature",
                                        "Value": "-55°C ~ 105°C"
                                    },
                                    {
                                        "ParameterId": 52,
                                        "ValueId": "388275",
                                        "Parameter": "Polarization",
                                        "Value": "Polar"
                                    },
                                    {
                                        "ParameterId": 707,
                                        "ValueId": "1",
                                        "Parameter": "Ratings",
                                        "Value": "-"
                                    },
                                    {
                                        "ParameterId": 405,
                                        "ValueId": "350483",
                                        "Parameter": "Applications",
                                        "Value": "General Purpose"
                                    },
                                    {
                                        "ParameterId": 2253,
                                        "ValueId": "u810mA @ 120Hz",
                                        "Parameter": "Ripple Current @ Low Frequency",
                                        "Value": "810mA @ 120Hz"
                                    },
                                    {
                                        "ParameterId": 2260,
                                        "ValueId": "u931.5mA @ 100kHz",
                                        "Parameter": "Ripple Current @ High Frequency",
                                        "Value": "931.5mA @ 100kHz"
                                    },
                                    {
                                        "ParameterId": 508,
                                        "ValueId": "13741",
                                        "Parameter": "Lead Spacing",
                                        "Value": "0.197\" (5.00mm)"
                                    },
                                    {
                                        "ParameterId": 46,
                                        "ValueId": "24783",
                                        "Parameter": "Size \/ Dimension",
                                        "Value": "0.492\" Dia (12.50mm)"
                                    },
                                    {
                                        "ParameterId": 1500,
                                        "ValueId": "35710",
                                        "Parameter": "Height - Seated (Max)",
                                        "Value": "0.866\" (22.00mm)"
                                    },
                                    {
                                        "ParameterId": 884,
                                        "ValueId": "1",
                                        "Parameter": "Surface Mount Land Size",
                                        "Value": "-"
                                    },
                                    {
                                        "ParameterId": 69,
                                        "ValueId": "411897",
                                        "Parameter": "Mounting Type",
                                        "Value": "Through Hole"
                                    },
                                    {
                                        "ParameterId": 16,
                                        "ValueId": "392320",
                                        "Parameter": "Package \/ Case",
                                        "Value": "Radial, Can"
                                    }
                                ],
                                "ProductUrl": "https:\/\/www.digikey.com\/product-detail\/en\/panasonic-electronic-components\/ECA-1VHG102\/P5555-ND\/245154",
                                "PrimaryDatasheet": "https:\/\/industrial.panasonic.com\/cdbs\/www-data\/pdf\/RDF0000\/ABA0000C1215.pdf",
                                "PrimaryPhoto": "http:\/\/media.digikey.com\/Photos\/Panasonic%20Photos\/NHG12-SERIES.jpg",
                                "PrimaryVideo": "",
                                "Series": {
                                    "ParameterId": -5,
                                    "ValueId": "189",
                                    "Parameter": "Series",
                                    "Value": "NHG"
                                },
                                "ManufacturerLeadWeeks": "14 weeks",
                                "ManufacturerPageUrl": "https:\/\/www.digikey.com\/en\/supplier-centers\/p\/panasonic",
                                "ProductStatus": "Active",
                                "AlternatePackaging": [],
                                "DetailedDescription": "1000µF 35V Aluminum Electrolytic Capacitors Radial, Can  2000 Hrs @ 105°C",
                                "ReachStatus": null,
                                "ExportControlClassNumber": null,
                                "HTSUSCode": null,
                                "TariffDescription": "",
                                "MoistureSensitivityLevel": "",
                                "Family": null,
                                "Category": null,
                                "ManufacturerPartNumber": "ECA-1VHG102",
                                "MinimumOrderQuantity": 0,
                                "NonStock": false,
                                "Packaging": {
                                    "ParameterId": 7,
                                    "ValueId": "3",
                                    "Parameter": "Packaging",
                                    "Value": "Bulk"
                                },
                                "QuantityAvailable": 15663,
                                "DigiKeyPartNumber": "P5555-ND",
                                "ProductDescription": "CAP ALUM 1000UF 20% 35V RADIAL",
                                "UnitPrice": 0,
                                "Manufacturer": {
                                    "ParameterId": -1,
                                    "ValueId": "10",
                                    "Parameter": "Manufacturer",
                                    "Value": "Panasonic Electronic Components"
                                },
                                "ManufacturerPublicQuantity": 0,
                                "QuantityOnOrder": 4200,
                                "MaxQuantityForDistribution": 0,
                                "BackOrderNotAllowed": false,
                                "DKPlusRestriction": false,
                                "Marketplace": false,
                                "SupplierDirectShip": false,
                                "PimProductName": null,
                                "Supplier": null,
                                "SupplierId": 0,
                                "IsNcnr": false
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The Request is denied due to part restrictions",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found - The product was not found",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Products\/{digiKeyPartNumber}\/DigiReelPricing": {
            "get": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Calculate the DigiReel pricing for the given DigiKeyPartNumber and RequestedQuantity",
                "operationId": "DigiReelPricing",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "digiKeyPartNumber",
                        "description": "The Digi-Key PartNumber requested for Digi-Reel price calculation. It must be a\r\nDigi-Key part number that is for a Digi-Reel pack type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestedQuantity",
                        "description": "The quantity of the product you are looking to create a Digi-Reel with. Must be greater\r\nthan 0.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includes",
                        "description": "Comma separated list of fields to return. Used to customize response to reduce bandwidth by\r\nselecting fields that you wish to receive. For example: \"ExtendedPrice,ReelingFee\"",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/DigiReelPricingDto"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The Request is denied due to part restrictions",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found - The product was not found",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Products\/{partNumber}\/WithSuggestedProducts": {
            "get": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Retrieve detailed product information and two suggested products",
                "description": "Works best with a Digi-Key part number. Some manufacturer part numbers conflict with unrelated parts and may not\r\nreturn the correct product.\r\nLocale information is required in the headers for accurate pricing and currencies. Locale defaults to United\r\nStates.",
                "operationId": "SuggestedParts",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "partNumber",
                        "description": "The product to retrieve details for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/ProductWithSuggestions"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The Request is denied due to part restrictions",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found - The product was not found",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Products\/ManufacturerProductDetails": {
            "post": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Create list of ProductDetails from the matches of the requested manufacturer product name.",
                "operationId": "ManufacturerProductDetails",
                "consumes": [
                    "application\/json"
                ],
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includes",
                        "description": "Comma separated list of fields to return. Used to customize response to reduce bandwidth by\r\nselecting fields that you wish to receive. For example: \"Products(DigiKeyPartNumber,QuantityAvailable)\"",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "ManufacturerProductDetailsRequest",
                        "schema": {
                            "$ref": "#\/definitions\/ManufacturerProductDetailsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/ProductDetailsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Manufacturers": {
            "get": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Returns all Product Manufacturers. ManufacturersId can be used in KeywordSearchRequest.Filters.ManufacturerIds to restrict a keyword search to a given Manufacturer",
                "operationId": "Manufacturers",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/ManufacturersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The Request is denied due to part restrictions",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found - The product was not found",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Categories": {
            "get": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Returns all Product Categories. Category Id can be used in KeywordSearchRequest.Filters.TaxonomyIds to restrict a keyword search to a given category",
                "operationId": "Categories",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/CategoriesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The Request is denied due to part restrictions",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found - The product was not found",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        },
        "\/Categories\/{categoryId}": {
            "get": {
                "tags": [
                    "PartSearch"
                ],
                "summary": "Returns Category for given Id. Category Id can be used in KeywordSearchRequest.Filters.TaxonomyIds to restrict a keyword search to a given category",
                "operationId": "CategoriesById",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Langauge must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Customer-Id",
                        "description": "Your Digi-Key Customer id. If your account has multiple Customer Ids for different regions, this allows you to select one of them.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The Request is denied due to part restrictions",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found - The product was not found",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "apiKeySecurity": {
            "type": "apiKey",
            "name": "X-DIGIKEY-Client-Id",
            "in": "header"
        },
        "oauth2AccessCodeSecurity": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https:\/\/api.digikey.com\/v1\/oauth2\/authorize",
            "tokenUrl": "https:\/\/api.digikey.com\/v1\/oauth2\/token"
        }
    },
    "security": [
        {
            "apiKeySecurity": [],
            "oauth2AccessCodeSecurity": []
        }
    ],
    "definitions": {
        "ParametricFilter": {
            "description": "A filter used to refine a keyword search on any parameter.",
            "type": "object",
            "properties": {
                "ParameterId": {
                    "format": "int32",
                    "description": "The parameter identifier.",
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "example": 1989
                },
                "ValueId": {
                    "description": "The value identifier.",
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "example": "0"
                }
            }
        },
        "Filters": {
            "description": "Filters to narrow down the search results based on parameters.",
            "type": "object",
            "properties": {
                "TaxonomyIds": {
                    "description": "A collection of Taxonomy Ids to filter on. Ids can be found in the initial search response. A a full list ids can be found from the Search Categories endpoint",
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "ManufacturerIds": {
                    "description": "A collection of Manufacturer Ids to filter on. Ids can be found in the initial search response. A a full list ids can be found from the Search Manufactures endpoint",
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "ParametricFilters": {
                    "description": "A collection of ParametricFilters. A ParametricFilter consists of a ParameterId and a ValueId. Those Ids can also be found in the Search response.",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/ParametricFilter"
                    }
                }
            }
        },
        "SortOption": {
            "format": "int32",
            "description": "SortOption enum",
            "enum": [
                "SortByDigiKeyPartNumber",
                "SortByManufacturerPartNumber",
                "SortByDescription",
                "SortByManufacturer",
                "SortByMinimumOrderQuantity",
                "SortByQuantityAvailable",
                "SortByUnitPrice",
                "SortByParameter"
            ],
            "type": "integer"
        },
        "SortDirection": {
            "format": "int32",
            "description": "SortDirection enum",
            "enum": [
                "Ascending",
                "Descending"
            ],
            "type": "integer"
        },
        "SortParameters": {
            "description": "Sort on the specified field in ascending or descending order.",
            "required": [
                "Direction",
                "SortOption"
            ],
            "type": "object",
            "properties": {
                "SortOption": {
                    "$ref": "#\/definitions\/SortOption"
                },
                "Direction": {
                    "$ref": "#\/definitions\/SortDirection"
                },
                "SortParameterId": {
                    "format": "int32",
                    "description": "The ParameterId of the parameter to sort on. The ParameterId can be found in the Search response. This is only used with SortByParameter.",
                    "type": "integer",
                    "example": 0
                }
            }
        },
        "SearchOption": {
            "format": "int32",
            "description": "SearchOption - Options to search by.",
            "enum": [
                "ManufacturerPartSearch",
                "InStock",
                "NewProductsOnly",
                "RoHSCompliant",
                "LeadFree",
                "CollapsePackagingTypes",
                "ExcludeNonStock",
                "Has3DModel",
                "HasMentorFootprint"
            ],
            "type": "integer"
        },
        "KeywordSearchRequest": {
            "description": "This DTO takes the input from the V3 KeywordSearch and creates the Search2.0 request",
            "type": "object",
            "properties": {
                "Keywords": {
                    "description": "Keywords to search on. Can be a description, partial part number, manufacturer part number, or a Digi-Key part\r\nnumber. Keywords are required unless the Filters.TaxonomyIds is populated. An Empty string can be used when searching with Filters.TaxonomyIds",
                    "type": "string",
                    "example": "battery"
                },
                "RecordCount": {
                    "format": "int32",
                    "description": "Number of products to return between 1 and 50.",
                    "type": "integer",
                    "example": 10
                },
                "RecordStartPosition": {
                    "format": "int32",
                    "description": "The starting index of the records returned. This is used to paginate beyond 50 results.",
                    "type": "integer",
                    "example": 0
                },
                "Filters": {
                    "$ref": "#\/definitions\/Filters"
                },
                "Sort": {
                    "$ref": "#\/definitions\/SortParameters"
                },
                "RequestedQuantity": {
                    "format": "int32",
                    "description": "The quantity of the product you are looking to purchase. This is used with the SortByUnitPrice SortOption as price\r\nvaries at differing quantities.",
                    "type": "integer",
                    "example": 0
                },
                "SearchOptions": {
                    "description": "Filters the search results by the included SearchOption.",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/SearchOption"
                    }
                },
                "ExcludeMarketPlaceProducts": {
                    "description": "Used to exclude MarkPlace products from search results. Default is false",
                    "type": "boolean"
                }
            }
        },
        "LimitedTaxonomy": {
            "description": "The taxonomy limited to products in the response.",
            "type": "object",
            "properties": {
                "Children": {
                    "description": "List of taxonomies contained within this taxonomy.",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/LimitedTaxonomy"
                    }
                },
                "ProductCount": {
                    "format": "int32",
                    "description": "The number of products contained within this taxonomy.",
                    "type": "integer",
                    "example": 1
                },
                "NewProductCount": {
                    "format": "int32",
                    "description": "The number of new products contained within this taxonomy.",
                    "type": "integer",
                    "example": 0
                },
                "ParameterId": {
                    "format": "int32",
                    "description": "The Id of the parameter.",
                    "type": "integer",
                    "example": 69
                },
                "ValueId": {
                    "description": "The Id of the value.",
                    "type": "string",
                    "example": "80"
                },
                "Parameter": {
                    "description": "The name of the parameter.",
                    "type": "string",
                    "example": "Mounting Type"
                },
                "Value": {
                    "description": "The name of the value.",
                    "type": "string",
                    "example": "Through Hole"
                }
            }
        },
        "ValuePair": {
            "description": "A value belonging to a parameter.",
            "type": "object",
            "properties": {
                "ValueId": {
                    "description": "The Id of the value.",
                    "type": "string",
                    "example": "0"
                },
                "Value": {
                    "description": "The name of the value.",
                    "type": "string",
                    "example": "Active"
                }
            }
        },
        "LimitedParameter": {
            "description": "Parameters for filtering that are limited to parameters for the products in the response.",
            "type": "object",
            "properties": {
                "Values": {
                    "description": "List of values for the parameter that are contained in the products.",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/ValuePair"
                    }
                },
[...]
