{
    "swagger": "2.0",
    "info": {
        "title": "Ordering Api",
        "description": "Queues an order for processing.",
        "termsOfService": "https:\/\/www.digikey.com\/en\/terms-and-conditions",
        "contact": {
            "name": "API Support",
            "url": "https:\/\/developer.digikey.com\/support",
            "email": "api.support@digikey.com"
        },
        "version": "v3"
    },
    "host": "api.digikey.com",
    "x-host-sandbox": "sandbox-api.digikey.com",
    "x-host-production": "api.digikey.com",
    "basePath": "\/Ordering\/v3",
    "schemes": [
        "https"
    ],
    "paths": {
        "\/Orders": {
            "post": {
                "tags": [
                    "Ordering"
                ],
                "summary": "This action queues an order for processing.",
                "operationId": "Order",
                "consumes": [
                    "application\/json"
                ],
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "OAuth Bearer Token. Please see<a href= \"https:\/\/developer.digikey.com\/documentation\/oauth\" target= \"_blank\" > OAuth 2.0 Documentation <\/a > page for more info.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/OrderRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#\/definitions\/OrderResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The request model is invalid or malformed",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden - The request is denied",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "apiKeySecurity": {
            "type": "apiKey",
            "name": "X-DIGIKEY-Client-Id",
            "in": "header"
        },
        "oauth2AccessCodeSecurity": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https:\/\/api.digikey.com\/v1\/oauth2\/authorize",
            "tokenUrl": "https:\/\/api.digikey.com\/v1\/oauth2\/token"
        },
        "oauth2clientCredentialsSecurity": {
            "type": "oauth2",
            "flow": "application",
            "tokenUrl": "https:\/\/api.digikey.com\/v1\/oauth2\/token"
        }
    },
    "security": [
        {
            "apiKeySecurity": [],
            "oauth2AccessCodeSecurity": [],
            "oauth2clientCredentialsSecurity": []
        }
    ],
    "definitions": {
        "Address": {
            "description": "Address information for contacts",
            "type": "object",
            "properties": {
                "Company": {
                    "description": "Company name",
                    "type": "string",
                    "example": "Universal Solutions"
                },
                "FirstName": {
                    "description": "Contact's first name",
                    "type": "string",
                    "example": "John"
                },
                "LastName": {
                    "description": "Contact's last name",
                    "type": "string",
                    "example": "Smith"
                },
                "Email": {
                    "description": "Contact's email address",
                    "type": "string",
                    "example": "jsmith@universal.com"
                },
                "AddressLineOne": {
                    "description": "First line of delivery address",
                    "maxLength": 40,
                    "minLength": 0,
                    "type": "string",
                    "example": "1000 Main Street"
                },
                "AddressLineTwo": {
                    "description": "Second line of delivery address",
                    "maxLength": 40,
                    "minLength": 0,
                    "type": "string",
                    "example": "Suite 300"
                },
                "City": {
                    "description": "Contact's city",
                    "type": "string",
                    "example": "Bloomington"
                },
                "Province": {
                    "description": "Province or state",
                    "type": "string",
                    "example": "MN"
                },
                "PostalCode": {
                    "description": "Postal code or zip code",
                    "type": "string",
                    "example": "55425"
                },
                "Country": {
                    "description": "Contact's country 2 character ISO code",
                    "maxLength": 2,
                    "minLength": 0,
                    "type": "string",
                    "example": "US"
                }
            }
        },
        "ApiErrorResponse": {
            "description": "Common response model returned for any type of HTTP exception.",
            "type": "object",
            "properties": {
                "ErrorResponseVersion": {
                    "description": "The version of the error handler.",
                    "type": "string",
                    "readOnly": true,
                    "example": "3.0.0.0"
                },
                "StatusCode": {
                    "format": "int32",
                    "description": "The HttpStatusCode of the error.",
                    "type": "integer",
                    "example": 404
                },
                "ErrorMessage": {
                    "description": "The message provided by the error handler.",
                    "type": "string",
                    "example": "The specified part was not found"
                },
                "ErrorDetails": {
                    "description": "The details of the error.",
                    "type": "string",
                    "example": "Part Not Found"
                },
                "RequestId": {
                    "description": "The Id of the request that triggered the error. If contacting API Support, please include the RequestId.",
                    "type": "string",
                    "example": "22da819d-9517-4a2c-a8c1-0195ea2e7878"
                },
                "ValidationErrors": {
                    "description": "The list of validation errors (if applicable).",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/ApiValidationError"
                    }
                }
            }
        },
        "ApiValidationError": {
            "description": "Error with API input.",
            "type": "object",
            "properties": {
                "Field": {
                    "description": "The field that generated the error.",
                    "type": "string",
                    "example": "Keywords"
                },
                "Message": {
                    "description": "The error message that was generated. This often explains how to fix your API input to be valid.",
                    "type": "string",
                    "example": "The Keywords field is required."
                }
            }
        },
        "Contact": {
            "description": "Contact information",
            "type": "object",
            "properties": {
                "CustomerId": {
                    "description": "Your Digi-Key customer id",
                    "type": "string",
                    "example": "123456789"
                },
                "Name": {
                    "description": "Customer's name",
                    "type": "string",
                    "example": "John Smith"
                },
                "Address": {
                    "$ref": "#\/definitions\/Address"
                },
                "Telephone": {
                    "description": "Contact's telephone number",
                    "type": "string",
                    "example": "555-123-4567"
                }
            }
        },
        "ExportQuestions": {
            "description": "Required structure for Independent Distributors if product is shipping outside of the US. Otherwise do not include.",
            "type": "object",
            "properties": {
                "CountryCode": {
                    "description": "The 2 digit ISO code for the country of final destination",
                    "type": "string",
                    "example": "MX"
                },
                "ConsigneeName": {
                    "description": "End customer name",
                    "type": "string",
                    "example": "John Smith"
                },
                "PrimaryApplication": {
                    "description": "The category of use for the product. Must exactly match one of the following items: \"Aerospace\", \"Automotive\", \"Computer & Peripherals\", \"Consumer Electronics\", \"Industrial\", \"Medical\", \"Military\".",
                    "type": "string",
                    "example": "Aerospace"
                },
                "SecondaryApplication": {
                    "description": "The use for the product, valid options are determined by PrimaryApplication. It must match one of the following items exactly. \r\nIf Primary is \"Aerospace\", valid options are: \"Aircraft, commercial transport\", \"Aircraft, UAV\", \"Communications equipment\", \"Computer systems\", \"Entertainment systems\", \"Sensors, controls, test equipment\", \"Safety systems\", \"Satellites, commercial\", \"Other\".\r\nIf Primary is \"Automotive\", valid options are: \"Drive train\", \"Instrumentation\", \"Safety systems\", \"Other\".\r\nIf Primary is \"Computer & Peripherals\", valid options are: \"Accessories\", \"Desktop\", \"Laptop\", \"Server\/storage\", \"Other\".\r\nIf Primary is \"Consumer Electronics\", valid options are: \"Audio\/video\", \"Gaming systems\", \"Home appliances\", \"Lighting systems\", \"Wired communications\", \"Wireless communications\", \"Other\".\r\nIf Primary is \"Industrial\", valid options are: \"Appliances\/white goods\", \"Automation and control\", \"Renewable\/fossil fuels energy\", \"Nuclear energy\", \"Lighting systems\", \"Sensors, controls, test equipment\", \"Tools\", \"Other\".\r\nIf Primary is \"Medical\", valid options are: \"Diagnostic equipment\", \"Instruments, devices\", \"Imaging \/ scanning\", \"Other\".\r\nIf Primary is \"Military\", valid options are: \"Aircraft, military\", \"Aircraft, UAV\", \"Communications equipment\", \"Computer systems\", \"Missile systems\", \"Satellites, military\", \"Sensors, controls, test equipment\", \"Vehicles, personnel transport\", \"Vehicles, weapon transport\", \"Weapons systems\", \"Other\".",
                    "type": "string",
                    "example": "Aircraft"
                },
                "AdditionalInfo": {
                    "description": "Free form text to provide any additional application information",
                    "type": "string"
                }
            }
        },
        "LineItem": {
            "description": "Details for each line item in the order",
            "type": "object",
            "properties": {
                "CustomerLineItemId": {
                    "description": "Line item number for customer use",
                    "type": "string"
                },
                "ProductDescription": {
                    "description": "Optional description of the product",
                    "type": "string",
                    "example": "CAP ALUM 1000UF 20% 35V RADIAL"
                },
                "CustomerPartNumber": {
                    "description": "Optional special customer part number if your company has a special part number system with Digi-Key",
                    "type": "string"
                },
                "DigiKeyPartNumber": {
                    "description": "Digi-Key part number. Either this or ManufacturerPartNumber must be provided.",
                    "type": "string",
                    "example": "P5555-ND"
                },
                "ManufacturerPartNumber": {
                    "description": "Manufacturer part number. Either this or Digi-Key part number must be provided.",
                    "type": "string",
                    "example": "ECA-1VHG102"
                },
                "ManufacturerName": {
                    "description": "Optional name of manufacturer\/part supplier. May assist with unresolved manufacturer part numbers.",
                    "type": "string",
                    "example": "Panasonic Electronic Components"
                },
                "RequestedQuantity": {
                    "format": "int32",
                    "description": "Quantity that must be greater than zero.",
                    "type": "integer"
                },
                "UnitPrice": {
                    "format": "double",
                    "description": "Expected price. This is required so any discrepancies between between the expected and actual price can be addressed.",
                    "type": "number",
                    "example": 0.86
                },
                "QuoteId": {
                    "format": "int32",
                    "description": "Optional QuoteId to use price from.",
                    "type": "integer"
                },
                "DeliveryDate": {
                    "format": "date-time",
                    "description": "Optional future date that the product is expected to be in-house. This should be in ISO 8601 format.",
                    "type": "string"
                },
                "LineItemNotes": {
                    "description": "Optional notes",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "Schedules": {
                    "description": "Optional array of Schedules for shipping this LineItem. If blank, will use LineItem's delivery date with the full quantity.",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Schedule"
                    }
                }
            }
        },
        "OrderRequest": {
            "description": "Model that contains all information required for an order.",
            "type": "object",
            "properties": {
                "PurchaseOrderNumber": {
                    "description": "Purchase order number",
                    "type": "string"
                },
                "Currency": {
                    "description": "Currency to use for the order",
                    "type": "string",
                    "example": "USD"
                },
                "ShipControl": {
                    "description": "If some products are not in stock, how would you like this order realsed?\r\nImmediate-Ship in stock products immediatley and each backorder as soon as it's available - Default Options\r\nSingle-No products from the Salesorder will ship until all items are available",
                    "type": "string",
                    "example": "Immediate"
                },
                "BuyerContact": {
                    "$ref": "#\/definitions\/Contact"
                },
                "ShippingContact": {
                    "$ref": "#\/definitions\/Contact"
                },
                "BillingAccount": {
                    "format": "int64",
                    "description": "Your Net Terms Billing account number",
                    "type": "integer"
                },
                "ShipMethod": {
                    "description": "Shipping method. Not all options are available in all times and locations. The following options are accepted: \"DHL worldwide Express\"  \"FedEx ground\"  \"FedEx 3 day\"  \"FedEx 2 day\"  \"FedEx standard overnight\"  \"FedEx priority overnight\"  \"FedEx first overnight\"  \"FedEx international priority\"  \"FedEx international economy\"  \"UPS ground\"  \"UPS 3 day\"  \"UPS 2 day\"  \"UPS 2 day noon\"  \"UPS 1 day\"  \"UPS 1 day 3 p.m.\"  \"UPS 1 day early a.m.\"  \"UPS worldwide expedited\"  \"UPS worldwide express\"  \"UPS worldwide saver\"  \"USPS express mail international\"  \"USPS express mail\"  \"USPS priority mail\"  \"USPS first class mail\"  \"USPS standard mail\"",
                    "type": "string",
                    "example": "FedEx Ground"
                },
                "ShipperAccountNumber": {
                    "description": "Optional shipping account to use",
                    "type": "string"
                },
                "LineItems": {
                    "description": "List of one of more Part Details",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/LineItem"
                    }
                },
                "OrderNotes": {
                    "description": "Optional notes",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "PackagingPreference": {
                    "description": "Optional field for which type of part to prefer: DKR (Digi-Key Reel) or CT (cut tape)",
                    "type": "string",
                    "example": "CT"
                },
                "Taxable": {
                    "description": "Whether the order is taxable or not",
                    "type": "boolean",
                    "example": true
                },
                "ExportQuestions": {
                    "$ref": "#\/definitions\/ExportQuestions"
                }
            }
        },
        "OrderResponse": {
            "description": "Response message model created when submitting an order to the OrderingAPI",
            "type": "object",
            "properties": {
                "Message": {
                    "description": "A string message containing useful information about the API request\r\nbe it success, informational, or error.",
                    "type": "string"
                },
                "SalesOrderId": {
                    "format": "int32",
                    "description": "The resulting salesorder ID from the API request.",
                    "type": "integer"
                },
                "PurchaseOrderNumber": {
                    "description": "The Purchase Order Number provided by customer on input.",
                    "type": "string"
                }
            }
        },
        "Schedule": {
            "description": "Optional schedule to determine how many of the lineitem are shipped on which dates",
            "type": "object",
            "properties": {
                "ScheduledDate": {
                    "format": "date-time",
                    "description": "Valid future date for shipping. This should be in ISO 8601 format.",
                    "type": "string"
                },
                "ScheduledQuantity": {
                    "format": "int32",
                    "description": "Number to schedule on the selected date.",
                    "type": "integer"
                }
            }
        }
    },
    "tags": []
}